pypdf
streamlit==1.38.0
python-dotenv==1.0.1
PyMuPDF==1.24.9
spacy==3.7.4
langchain==0.2.16
langchain-core==0.2.38
langchain-community==0.2.16
langchain-cohere==0.1.8
langchain-google-genai==1.0.5
langchain-text-splitters==0.2.2
faiss-cpu==1.8.0.post1
rank_bm25.


